# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset files (if you don't want to push large files, but these seem small)
# Breat_cancer.txt
